body {
  width: auto;
  background-color: rgb(255, 249, 239);
  font-family: 'Belleza', sans-serif;
  color: rgb(155, 90, 6);
}

figure img {
  width: 100%;
}

a:link {
  text-decoration: none;
  color: rgb(61, 37, 6);
}

a:visited {
  text-decoration: none;
  color: rgb(61, 37, 6);
}

#logo {
  /* outline: 1px dashed rgb(226, 25, 159); */
  text-align: center;
  margin: 3vh 0 8vh 0;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 5em;
  display: inline-block;
}

header img {
  /* outline: 1px dashed rgb(31, 156, 150); */
  display: inline-block;
}

nav > ul {
  background-color: rgb(255, 220, 172);
  color: rgb(117, 69, 6);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15vh;
}

nav li {
  /* outline: 1px dashed blue; */
  padding: 1em 0 1em 0;
  margin: 0 2em 0 2em;
  font-size: 1.5em;
}

h2 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 1em;
}

table {
  border: 1px solid black;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 90vw;
  height: 60vh;
}

tr:nth-child(odd) {
  background-color: rgb(197, 164, 120);
  color: rgb(247, 245, 243);
}

td {
  vertical-align: middle;
}

td:nth-child(1) {
  background-color: rgb(146, 114, 71);
  color: rgb(250, 243, 234);
  border-right: 1.5px solid rgb(245, 165, 17);
  border-bottom: 1px solid rgb(136, 106, 66);
}

/* td:nth-child(1) --> td, które jest pierwszym dzieckiem */

th {
  background-color: rgb(146, 114, 71);
  color: rgb(250, 243, 234);
  vertical-align: middle;
}

form {
  width: 70%;
  height: 30vh;
  margin: 3em auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'location loc-input'
    'min min-input'
    'max max-input'
    'cookies cook-input'
    'button button';
  column-gap: 7%;
  row-gap: 3%;
}

form :nth-child(1) {
  grid-area: location;
}

form :nth-child(2) {
  grid-area: loc-input;
}

form :nth-child(3) {
  grid-area: min;
}

form :nth-child(4) {
  grid-area: min-input;
}

form :nth-child(5) {
  grid-area: max;
}

form :nth-child(6) {
  grid-area: max-input;
}

form :nth-child(7) {
  grid-area: cookies;
}

form :nth-child(8) {
  grid-area: cook-input;
}

form :nth-child(9) {
  grid-area: button;
}

label {
  /* border-bottom: 1px solid rgb(230, 202, 167); */
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#submitBtn {
  background-color: rgb(192, 140, 72);
  color: rgb(247, 241, 234);
  width: 18em;
  height: 5vh;
  margin-top: 3vh;
  text-decoration: none;
  border: none;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


footer address {
  border-top: 1px solid rgb(153, 117, 51);
  width: 15em;
  margin: 10em auto 2em auto;
  padding-top: 1.5em;
  text-align: center;
  line-height: 1.3em;
  font-size: 1.2em;
}

footer > p {
  border-top: 1px solid rgb(145, 142, 0);
  width: 4.5em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-left: 1em;
}
}
